.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}